{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "semi": false,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "useTabs": false
}
